<ul class="icons">
  {{ if .twitter }}
  <li><a href="{{ .twitter }}" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
  {{ end }}
  {{ if .facebook }}
  <li><a href="{{ .facebook }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
  {{ end }}
  {{ if .instagram }}
  <li><a href="{{ .instagram }}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
  {{ end }}
  {{ if .github }}
  <li><a href="{{ .github }}" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
  {{ end }}
  {{ if .linkedin }}
  <li><a href="{{ .linkedin }}" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
  {{ end }}
</ul>
